<html>
<head>
  // smoke test marker: App home page
  include includes/defaultHeadAttributes.pug
</head>
<body>
 <h1 id="header-text">Hello, world!</h1>

 <script src="bundle.js"></script>
 <script>
 | const client = require("./main.js");
 | console.log(client.isTrue());
 </script>
</body>
</html>
